.logo {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
}

.bi {
  font-size: 2rem;
}

.bi-whatsapp,
.bi-envelope,
.bi-linkedin {
  color: #f4f4ed;
  font-size: 2rem;
}

.bi-geo-alt-fill {
  color: #f4f4ed;
  font-size: 1.3rem;
}

.navbar {
  background-color: #FFFFFA;
  box-shadow: 0px 0.5px 8px 0.5px rgb(198, 198, 198);
  font-optical-sizing: auto;
  /* font-weight: 300; */
  /* font-size: 1.2rem; */
  padding: 2rem;
  --bs-navbar-nav-link-padding-x: 1rem;
}

.navbar-toggler {
  border: none;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.navbar-toggler:hover {
  box-shadow: 2px 2px 4px 1px rgb(0, 0, 0, 0.3);
  transform: translateY(-2px);
  background-color: var(--bs-emphasis-color-rgb);
  border-radius: 10px;
}

.navbar-toggler:hover .bi {
  color: #f4f4ed;
  transition: color 0.3s ease-out;
}

.navbar-toggler:focus {
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 4px 1px rgb(0, 0, 0, 0.3);
  background-color: var(--bs-emphasis-color-rgb);
  transform: translateY(2px);
  color: #f4f4ed;
  transition: all 0.5s ease-in-out;
}

.navbar-toggler:focus .bi {
  color: #f4f4ed;
  transition: color 0.5s ease-in-out;
}

.navbar-nav .nav-item {
  list-style-type: none;
  display: flex;
  margin-inline: 1rem;
  padding: 0;
}

.navbar-nav .nav-item a {
  color: #241909;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.navbar-nav .nav-item a:hover {
  box-shadow: 2px 2px 4px 1px rgb(0, 0, 0, 0.3);
  transform: translateY(-2px);
  background-color: var(--bs-emphasis-color-rgb);
  color: #f4f4ed;
}

.navbar-nav .nav-item a:focus {
  box-shadow: 2px 2px 4px 1px rgb(0, 0, 0, 0.3);
  transform: translateY(2px);
  background-color: var(--bs-emphasis-color-rgb);
  color: #f4f4ed;
  transition: all 0.5s ease-in-out;
}

.nav-link {
  padding: 10px;
}

.home-btn {
  color: #f4f4ed;
  background-color: var(--bs-emphasis-color-rgb);
  font-size: 1.3rem;
  font-weight: 600;
  margin: 25px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 1px rgb(0, 0, 0, 0.3);
}

footer {
  bottom: 0;
  background-color: var(--bs-emphasis-color-rgb);
  width: 100%;
  padding: 1.8rem 0;
  margin: 0;
}

.footer-font {
  color: #f4f4ed;
  text-align: center;
}

.footer .row {
  margin: 0;
}

.card {
  --bs-card-border-radius: none;
}

.profile-img {
  width: 100%;
  height: auto;
}

.profile-img:hover {
  transform: scale(1.02);
  transition: transform 0.5s ease;
}

@media (max-width: 1200px) {
  .profile-img {
    width: 70%;
    height: auto;
  }

  .text-container {
    padding-inline: 6.5rem;
  }
}

@media (max-width: 575px) {
  .text-container {
    padding-inline: 4.2rem;
  }
}
